@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(55, 46, 136);
    font-family: "Montserrat", sans-serif;
}

.background {
    width: 100%;
    height: 100%;
    padding: 80px;
    background-image: url("assets/backgroundMontanha.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.principal {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.menuBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menuBar span {
    font-size: 16px;
    color: rgb(55, 46, 136);
    font-weight: 600;
    cursor: pointer;
}

.menuBar span:hover {
    color: rgba(55, 46, 136, 0.49);
    transition: color 0.3s ease;
}

.content{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contentTitle{
    font-size: 1.4rem;
    color: rgb(55, 46, 136);
    font-weight: 600;
}

.carroselContent{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
    color: rgb(55, 46, 136); 
}

#btnContentLeft, #btnContentRight{
    font-size: 2rem;
    color: rgb(55, 46, 136);
}

#textContent {
    width: 100%;
    padding: 0 400px;
    text-align: center;
}

.carroselBtnIndices button{
    font-size: 0.6rem;
    margin: 0 5px;
}