* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(55, 46, 136);
    --secondary-color: rgb(230, 230, 230);    
    --dark-primary-color: rgb(26, 21, 68);
}

button{
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;    
    padding: 80px 300px;
    background-image: url("../../assets/backgroundWater.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    color: var(--secondary-color);
}

.principal {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 220px;
    justify-content: space-between;
    align-items: center;
}

.containerText{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form-container{
    min-width: 550px;
    height: 100%;
    border-radius: 25px;
    background-color: var(--secondary-color);
}

.formSection{
    width: 100%;
    display: flex;
    color: var(--primary-color);
}

.deactivate{
    color: rgb(141, 141, 141);
}

.formSection>div{
    width: 50%;
}

.formSection button{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 0.8rem;
    font-weight: 600;
}

.faixaBtn{
    width: 100%;
    height:5px;
}
